.roomButton {
    border: 2px solid #1B1B1B;
    background-color: #b0b9b2;
    box-shadow: 3px 3px 0px #1B1B1B;
    padding: 10px 20px;
    border-radius: 7px;
    cursor: pointer;
}

.roomButton p {
    margin: 0;
}

.standardGreenButton {
    border: 2px solid #1B1B1B;
    background-color: #b0b9b2;
    box-shadow: 3px 3px 0px #1B1B1B;
    padding: 10px 20px;
    border-radius: 7px;
    cursor: pointer;
}

.standardGreenButton p {
    margin: 0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
}


/* Styles for the track */
input[type="range"] {
    width: 350px; /* Width of the slider */
  }
  
input[type='range']::-webkit-slider-runnable-track {
    background: black;
    height: 2px;
    margin-top: -7px;
  }
  
  input[type='range']::-moz-range-track {
    background: black;
    height: 2px;
  }
  
  input[type='range']::-ms-track {
    background: black;
    height: 2px;
  }
  
  /* Styles for the thumb */
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none; /* Important to remove default styles */
    appearance: none;
    background: black; /* Your desired thumb color */
    width: 15px; /* Width of the thumb */
    height: 15px; /* Height of the thumb */
    border-radius: 50%; /* Make it a circle */
    cursor: pointer;
    border: none; /* Remove any default border */
  }
  
  input[type='range']::-moz-range-thumb {
    background: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  input[type='range']::-ms-thumb {
    background: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
  }